In [1]:
import sys
import os
import importlib
sys.path.append(os.path.abspath(".."))  # <-- pas /app, juste le parent

from app.services.anonymization import anonymization_methods
importlib.reload(anonymization_methods)
from app.services.anonymization.anonymization_core import AnonymizerCore

In [2]:
import os
print(os.getcwd())

c:\Users\charl\Downloads\Pseudonymisation-master\anonymization-backend\notebooks

In [3]:
instructions = [
    {
        "table": "data",
        "column": "nom",
        "moteur": "masquage"
    }
]

In [4]:
core = AnonymizerCore(instructions)
core.load_tables("data")
print(core.dfs["data"].columns) 
core.run_anonymization()

Chemin complet utilis√© pour charger le fichier : c:\Users\charl\Downloads\Pseudonymisation-master\anonymization-backend\data\data.csv
Table 'data' charg√©e avec succ√®s. ['data']
Index(['nom', 'prenom', 'birth_rank', 'date_naissance', 'nir', 'montant'], dtype='object')
 [AnonymizerCore] Application de 'masquage' sur la colonne 'nom'

 DEBUG - Colonnes du DataFrame : ['nom', 'prenom', 'birth_rank', 'date_naissance', 'nir', 'montant']
 DEBUG - Colonne recherch√©e : nom
üõ°Ô∏è [Masquage] Masquage de la colonne 'nom' avec la valeur 'ANONYME'
‚úÖ Fichier export√© : results\masquage_nom.csv
‚úÖ Instruction 1/1 appliqu√©e avec succ√®s.

In [24]:
core.load_tables({"data": df})
core.run_anonymization()

FileNotFoundError: Le fichier .\data\data.csv est introuvable.

In [8]:
core.dfs["data"].head()

       nom  prenom  birth_rank date_naissance         nir  montant
0  ANONYME    Jean           1     Anonymized  16/10/2003       23
1  ANONYME    Paul           1     Anonymized  16/10/2003       43
2  ANONYME  Pierre           3     Anonymized  16/10/2003       87
3  ANONYME  Franck           4     Anonymized  16/10/2003       67
4  ANONYME   Steph           1     Anonymized  16/10/2003      987

In [9]:
core.export(output_path="results/mon_test.csv")

 Fichier export√© avec succ√®s : results/mon_test.csv

In [5]:
instructions = [
    {"table": "data", "column": "prenom", "moteur": "remplacement"},
    {"table": "data", "column": "nom", "moteur": "remplacement"}
]

In [7]:
# 1. Cr√©er l'objet
core = AnonymizerCore(instructions)

# 2. Charger les tables
core.load_tables("data")

# 3. Lancer l'anonymisation
core.run_anonymization()

# 4. Visualiser le r√©sultat
df_result = core.get_table("data")
df_result.head()
core.export(output_path="results/mon_export_complet.csv")

Chemin complet utilis√© pour charger le fichier : c:\Users\charl\Downloads\Pseudonymisation-master\anonymization-backend\data\data.csv
Table 'data' charg√©e avec succ√®s. ['data']
 [AnonymizerCore] Application de 'remplacement' sur la colonne 'prenom'
 Annuaire charg√© : ['a', 'aadam', 'aadel', 'aadhiran', 'aadil', 'aahil', 'aakash', 'aali', 'aamir', 'aaran']
 [Remplacement] jean -> joselita
 [Remplacement] paul -> heykel
 [Remplacement] pierre -> auristelle
 [Remplacement] franck -> coline
 [Remplacement] steph -> carmelo
‚úÖ Fichier export√© : results\remplacement_prenom.csv
‚úÖ Instruction 1/2 appliqu√©e avec succ√®s.
 [AnonymizerCore] Application de 'remplacement' sur la colonne 'nom'
 Annuaire charg√© : ['aabi', 'aabid', 'aalberg', 'aamara', 'aarab', 'aarnink', 'aaron', 'aarras', 'aatar', 'aatif']
 [Remplacement] toto -> benmebrouk
 [Remplacement] tata -> tecchio
 [Remplacement] titi -> notarnicola
 [Remplacement] tutu -> cavalier
 [Remplacement] tete -> thiphineau
‚úÖ Fichier export√© : results\remplacement_nom.csv
‚úÖ Instruction 2/2 appliqu√©e avec succ√®s.
 Fichier export√© avec succ√®s : results/mon_export_complet.csv

In [3]:
instructions = [
    {"table": "data", "column": "montant", "moteur": "arrondit"}
]

In [4]:
# 1. Cr√©er l'objet avec les instructions
core = AnonymizerCore(instructions)

# 2. Charger les tables
core.load_tables()

# 3. Lancer l'anonymisation
core.run_anonymization()

# 4. Afficher le r√©sultat
df_result = core.get_table("data")
df_result.head()  # ou display(df_result) si tu veux

Table 'data' charg√©e avec succ√®s. Lignes : 5 /Colonnes : ['nom', 'prenom', 'birth_rank', 'date_naissance', 'nir', 'montant']
 [AnonymizerCore] Application de 'arrondit' sur la colonne 'montant'
üßÆ [Arrondit] Arrondi des valeurs dans la colonne 'montant'
‚úÖ Fichier export√© : results\arrondit_montant.csv
‚úÖ Instruction 1/1 appliqu√©e avec succ√®s.

    nom  prenom  birth_rank date_naissance         nir  montant
0  Toto    Jean           1     Anonymized  16/10/2003       30
1  Tata    Paul           1     Anonymized  16/10/2003       50
2  Titi  Pierre           3     Anonymized  16/10/2003       90
3  Tutu  Franck           4     Anonymized  16/10/2003       70
4  Tete   Steph           1     Anonymized  16/10/2003     1000

In [5]:
instructions = [
    {"table": "data", "column": "date_naissance", "moteur": "generalisation_date"}
]

In [6]:
core = AnonymizerCore(instructions)
core.load_tables()
core.run_anonymization()

# Affichage du DataFrame modifi√©
df_result = core.get_table("data")
df_result.head()

Table 'data' charg√©e avec succ√®s. Lignes : 5 /Colonnes : ['nom', 'prenom', 'birth_rank', 'date_naissance', 'nir', 'montant']
 [AnonymizerCore] Application de 'generalisation_date' sur la colonne 'date_naissance'
üìÖ [GeneralisationDate] G√©n√©ralisation de la colonne 'date_naissance'
‚ö†Ô∏è Date invalide ignor√©e : Anonymized
‚ö†Ô∏è Date invalide ignor√©e : Anonymized
‚ö†Ô∏è Date invalide ignor√©e : Anonymized
‚ö†Ô∏è Date invalide ignor√©e : Anonymized
‚ö†Ô∏è Date invalide ignor√©e : Anonymized
‚úÖ Fichier export√© : results\generalisation_date_date_naissance.csv
‚úÖ Instruction 1/1 appliqu√©e avec succ√®s.

    nom  prenom  birth_rank date_naissance         nir  montant
0  Toto    Jean           1     Anonymized  16/10/2003       23
1  Tata    Paul           1     Anonymized  16/10/2003       43
2  Titi  Pierre           3     Anonymized  16/10/2003       87
3  Tutu  Franck           4     Anonymized  16/10/2003       67
4  Tete   Steph           1     Anonymized  16/10/2003      987